.main-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

video {
  width: 640px;
  height: 360px;
}

.graph-container {
  margin-top: 25px;
  height: 200px;
  width: 400px;
}

p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
